<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Aggregator</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Anime Aggregator</h1>
        <form id="search-form">
            <input type="text" name="query" placeholder="Search for anime..." required>
            <button type="submit">Search</button>
        </form>
    </header>
    <main>
        <section id="anime-list">
            <h2>Popular Anime</h2>
            <div class="row">
                {% for data in anime_list %}               
                <div class="column">
                    <h2>{% firstof data.title.romaji data.title.english data.title.native %}</h2>
                    <!-- <p>{{ data.description|cut:"<br>" }}</p> -->
                    <p>Genres: {{ data.genres|join:", " }}</p>
                    <p>Episodes: {% firstof data.episodes 'N/A' %}</p>
                    <img src= "{{ data.coverImage.large }}" alt="{{ data.title.romaji }}">
                </div>
                {% endfor %}
            </div>
        </section>
        
        
        <div id="results"></div>
        
        <script>
            const form = document.getElementById('search-form');
            const resultsDiv = document.getElementById('results');
        
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const query = new FormData(form).get('query');
        
                const response = await fetch(`/search/?query=${encodeURIComponent(query)}`);
                const data = await response.json();
        
                if (data.error) {
                    resultsDiv.innerHTML = `<p>${data.error}</p>`;
                } else {
                    resultsDiv.innerHTML = `
                        <h2>${data.title.romaji || data.title.english || data.title.native}</h2>
                        <img src="${data.coverImage.large}" alt="${data.title.romaji}">
                        <p>${data.description}</p>
                        <p>Genres: ${data.genres.join(', ')}</p>
                        <p>Episodes: ${data.episodes || 'N/A'}</p>
                    `;
                }
            });
        </script>
        
    </main>
    <footer>
        <p>&copy; 2025 Anime Aggregator</p>
    </footer>
</body>
</html>
